Source: liblunar
Priority: extra
Maintainer: yetist <yetist@gmail.com>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2
Section: libs

Package: liblunar-dev
Section: libdevel
Architecture: any
Depends: liblunar0 (= ${Source-Version})
Description: Development files for the Chinese Lunar library
 Chinese Lunar library is a chinese lunar translate library.

Package: liblunar0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Chinese Lunar library
 Chinese Lunar library is a chinese lunar translate library.

Package: liblunar-doc
Section: doc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Documentation for the Chinese Lunar library
 Chinese Lunar library is a chinese lunar translate library.
